<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>web.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>web.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>web.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote</servlet-name>
        <servlet-class>web.Vote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Voting</servlet-name>
        <servlet-class>web.Voting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddParty</servlet-name>
        <servlet-class>web.AddParty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotice</servlet-name>
        <servlet-class>web.UpdateNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartVote</servlet-name>
        <servlet-class>web.StartVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>web.signup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/authv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote</servlet-name>
        <url-pattern>/vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Voting</servlet-name>
        <url-pattern>/voting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddParty</servlet-name>
        <url-pattern>/addparty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotice</servlet-name>
        <url-pattern>/updatenotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartVote</servlet-name>
        <url-pattern>/startvote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
